$primary-color: #d3ad7f;
$secondary-color: #a2763f;
$third-color: #b06d1c;

$black: #13131a;
$white: #e7e7ea;
$bg: #010103;

$bd: 1px solid rgba(255,255,255,.3);
$bdr: 15px;

$flex: 1 1 45rem;

// Roboto
$font-family-one: "Roboto", serif;
// Inter
$font-family-two: "Inter", serif;
// Montserrat
$font-family-three: "Montserrat", serif;
// Poppins
$font-family-four: "Poppins", serif;